// .Content{

     
//     display: flex;
   
//     flex-direction:column;
//     align-items: center;
    
// }
.mat-card{

     width: 120%;
     height: 60%;
     margin-top: 40px;
     border-radius: 20px;

}

.example-form-field {
    width: 25%;
    height: 20%;
    margin-right: 70px;
    font-size: 20px;
    font-weight: 400;
  }

  .card-content{
    margin: 100px 0px 100px 100px;

  }

  .content-flight{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  p{
    margin: 0 20px;
    font-size: 20px;
  }

  .content-summit{
    margin-right: 20px;
  
  }

  .Summit{
  background-color: #DC3545 ;
 width: 25%;
 color: aliceblue;
 font-weight: 400;
 padding: 2px;
 font-size: 20px;
  }